body {
	font-family: Arial, sans-serif;
	background-image: url(Dekstop.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#Carrusel .card-body {
    height: 200px; /* Altura fija para todas las tarjetas */
    overflow: hidden; /* Oculta el contenido que exceda la altura fijada */
  }
  
  #Carrusel .card-body p {
    font-size: 16px; /* Tamaño de fuente para el texto dentro de la tarjeta */
    line-height: 1.2; /* Espacio entre líneas del texto */
    margin-bottom: 10px; /* Margen inferior para separar los párrafos */
  }

.card{
    background-color: rgba(47, 2, 61, 0);
}

.card h5{
    color: aliceblue;
    font-size: 1.5rem;
}

.card h6{
    color: aliceblue;
    font-size: 1rem;
}

.card h6 span{
    color:  rgb(177, 41, 147);
    font-size: 1.5rem;


}

.card-body p{
    color:  aliceblue;
    font-size: 1rem;
}

.card-body {
    border-left: 2px solid  #cc2ea5;
}
